@import './_jason/*.styl';
.needs-slider {
  margin-top: 36px;
}
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 90%;
  max-width: 500px;
  outline: none;
}

input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]::-moz-focus-inner,
input[type="range"]::-moz-focus-outer {
  border: 0;
  outline: none;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url("https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/thumbs-sprite.png");
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
  background-position: 100% 0px;
  transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  height: 20px;
  background: #4685d7;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url('https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/thumbs-sprite.png');
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
  cursor: pointer;
  margin-top: -15px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-position: 100% 0px;
  transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-appearance: none;
}

label {
  background: #eee;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 14px;
  margin-left: 10px;
  font-family: Roboto, 'Helvetica Neue', Arial;
  font-size: 20px;
  width: 25px;
  text-align: center;
  color: #2968bb;
  font-weight: bold;
  content: '';
}


.history 
  background url(https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/line04.gif) repeat-y 187px 0
  overflow hidden
  position relative
.history-date 
  overflow hidden
  position relative
  h2 
    background #fff url(https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/icon06.gif) no-repeat 158px 0
    height 59px
    font-size 25px
    margin-bottom 20px
    padding-left 45px
    font-weight normal
    &.first 
      // position absolute
      left 0
      top 0
      width 935px
      z-index 99
      .more-history 
        font-size 16px
        background transparent
        margin-left 30px
        &:hover 
          text-decoration underline
    a 
      color #00bbff
      display inline-block
      *display inline
      zoom 1
      background url(https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/icon08.gif) no-repeat right 50%
      padding-right 17px
      // margin 21px 97px 0 0
      &:hover 
        text-decoration none
    img 
      vertical-align -5px
    &.date02 
      background none
  ul 
    li 
      // background url(https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/icon07.gif) no-repeat 180px 0
      padding-bottom 50px
      zoom 1
      display flex
      position relative
      .node 
        display inline-block
        width 15px
        height 15px
        background url(https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/icon07.gif) no-repeat
        position absolute
        left 187px - 7.5px
      h2,h3 
        width 187px - 7.5px
        flex 0 0 auto
      &.last 
        padding-bottom 0
      &:after 
        content " "
        display block
        height 0
        clear both
        visibility hidden
      h3 
        float left
        // width 168px
        text-align right
        padding-right 19px
        color #c3c3c3
        font normal 18px/16px Arial
        span 
          display block
          color #d0d0d0
          font-size 12px
      dl 
        float left
        padding-left 41px
        // margin-top -5px
        dt 
          line-height 22px
          color #737373
          font-size 16px
          span 
            display block
            color #787878
            font-size 12px
      &.green 
        h3 
          color #1db702
          span 
            color #a8dda3
        dl 
          margin-top -8px
          dt 
            font-size 20px
            line-height 28px
            a 
              display inline-block
              *display inline
              zoom 1
              overflow hidden
              vertical-align middle
              margin-left 12px
          dd 
            padding-top 20px
            display none
            img 
              float left
            p 
              overflow hidden
              zoom 1
              line-height 21px
              color #787878
*body 
  .history-date 
    ul 
      li 
        dl 
          dt 
            _font-size 12px!important
            _font-weight bold
            span 
              _font-weight normal!important
        &.green 
          dl 
            dt 
              a 
                _background transparent!important
                *background transparent!important
                *font-size 12px!important
                _font-weight normal!important
                
.about-article 
  z-index 10
  .about 
  li 
    font-size 15px
  .icon-erweima 
    display inline-block
    font-size 20px
    color #1CC09E
    &:hover + #gongzhonghao
      width 400px
      height 400px
      
  #gongzhonghao 
    width 0
    height 0
    background url('https://cdn.qdovo.com/img/dfca5b720de4970eb67179b49e8ed895.png')
    position absolute
    bottom -56px
    left 100px
    z-index 100
    // display none
    transition-property all 
    transition-duration 0.4s
    // -moz-transition-delay: 1s
