---
title: 小站历程
top_meta: false
bottom_meta: false
sidebar: []
---

<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        April 2023
      </div>
      <div class="item-title">
        <p>魔改一下主题，不太喜欢默认的东西了。正在无限重构中......😴😴😴😴😴</p>
      </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2023
      </div>
      <div class="item-title">
        <p>基于博客聚拢一下自己的文章，开发的工具之类的。构成一本自己的知识体系。主要是前端的技能学习和回顾，分享🤓</p>
      </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2022
      </div>
      <div class="item-title">
        <p>1.到处倒腾主机，搬瓦工，vultr, 景安，阿里云，腾讯云，全都玩过😵</p>
        <p>2.反正就是哪个便宜捡哪个。然后国外主机自己用来搭建那个啥你懂的</p>
      </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2021
      </div>
      <div class="item-title">
        <p>1.被csdn支配的恐惧，不想看到这些乱七八糟的博客🤝</p>
        <p>2.工作中我习惯用各大笔记文档去记录我的东西，然后又觉得应该把博客捡起来。于是在众多SSG框架中重拾Hexo，选了一个主题</p>
      </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2019
      </div>
      <div class="item-title">
        <p>1.被Hexo的简洁吸引，使用Next主题搭建了博客🤷‍</p>
        <p>2.代码托管在github，使用netlify配合github action + webhook自动化部署,网速一言难尽</p>
        <p>3.网站竟然还活着<a target="_blank" href="https://rbln.netlify.app/">https://rbln.netlify.app/</a></p>
      </div>
      
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        long long time ago
      </div>
      <div class="item-title">
        <p>1.后来想搭建一个论坛，于是使用了discuz，现在网上也很多论坛用的这个😹</p>
        <p>2.当时这类PHP的CMS系统太火了，dz被腾讯收购</p>
      </div>
      
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        long long time ago
      </div>
      <div class="item-title">
        <p>1.玩的第一个博客是wordpress🍝</p>
        <p>2.搞了各种花里胡哨的主题，东拼西凑搞了些php代码，实在不会写</p>
      </div>
      
    </li>

  </ul>

</div>